mat-sidenav {
  ::ng-deep .mat-drawer-inner-container {
    overflow: hidden !important;
  }
  .header {
    display: flex;
    align-items: center;
    width: 200px;
    .header-name {
      margin-left: -10px;
      font-weight: 600;
    }
  }
}

.mat-icon {
  vertical-align: middle;
  color: #3f51b5;
}

.nav-items {
  .item {
    height: 64px;
    display: flex;
    padding-left: 24px;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    font-weight: normal;

    mat-icon {
      font-size: 24px;
      margin-right: 5px;
    }

    .amount {
      font-size: 16px;
    }
  }
  .progress-bar{
    content:'';
      height:2px;
    width:0;
      background:var(--stroked-color);
    transition:width 0.5s ease-in-out ;
  }
  .progress-bar:hover{
    width:100%;
  }
}
.nav-items:hover .progress-bar{
  width: 100%;
}

.item.active {
  background-color: rgba(63, 81, 181, 0.1);
}

.nav-items:hover {
  background-color: rgba(63, 81, 181, 0.1);
}

mat-sidenav-container {
  height: 100vh;
}

mat-sidenav-container.nav-opened {
  mat-sidenav {
    width: 200px;
    transition: width 0.2s ease-in-out;
  }
  mat-sidenav-content {
    margin-left: 200px !important;
    transition: margin-left 0.2s ease-in-out;
  }

  .nav-items {
    width: 200px;
    .item {
      .item-name {
        display: block;
      }
    }

  }
}

mat-sidenav-container.nav-closed {
  mat-sidenav {
    width: 75px;
    transition: width 0.2s ease-in-out;
  }

  mat-sidenav-content {
    margin-left: 75px !important;
    transition: margin-left 0.2s ease-in-out;
  }
  .header-name {
    display: none;
  }
  .nav-items {
    justify-content: center;
    .item {
      .item-name {
        display: none;
      }
    }
    .progress-bar{
      content:'';
        height:2px;
      width:0;
      background:var(--stroked-color);

      transition:width 0.2s ease-in-out ;
    }
    .progress-bar:hover{
      width:100%;
    }

  }
  .nav-items:hover .progress-bar{
    width: 100%;
  }

}

.account-icon {
  .mat-icon {
    height: 45px;
    width: 45px;
    font-size: 45px;
    cursor: pointer;
  }
}

.mat-mdc-icon-button {
  width: 70px;
  height: 64px;
}
