.dashboard-container {
  display: flex;

  //common class

  //width
  .w20p {
    width: 20%;
  }

  //margin padding

  .mr5 {
    margin-right: 5px;
  }

  .mr10 {
    margin-right: 10px;
  }

  //alignment

  .align-center {
    display: flex;
    align-items: center;
  }

  .list-section {
    width: 50%;
    .mat-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .header-section {
      .add-customer-btn {
        font-size: 14px;
      }
      .overview-section {
        font-size: 14px;
        height: auto;
        padding: 10px 16px;
        color: #51515e;
        display: flex;
        flex-direction: column;
        .overview-container {
          margin-bottom: 10px;
          display: flex;
          justify-content: space-between;
          width: 100%;
          .account-summary {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .amount {
              margin-left: 10px;
              font-size: 16px;
              color: #000;
              max-width: 80px;
              text-align: end;
              mat-icon {
                font-size: 22px;
                vertical-align: middle;
              }
            }
            .amount.get {
              mat-icon {
                color: #379237;
              }
            }
          }
        }

        .report-btn {
          height: 30px;
        }
      }

      .filter-section {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .fliter-height {
          position: relative;
          height: 200px;
        }
        .custom-input-field {
          display: flex;
          // width: 230px;
          width: 200px;
          align-items: center;
          flex-direction: row-reverse;
          justify-content: start;
          border-radius: 5px;
          padding: 4px 2px;
          // padding: 4px 8px;

          border: 1px solid rgba($color: #000000, $alpha: 0.38);
          background-color: #fff;
          // height: 30px;
          height: 22px;
          input {
            border: 0;
            outline: 0;
            // font-size: 16px;
            font-size: 14px;
            width: 170px;
            padding-left: 6px;
          }
          input:focus + mat-icon {
            display: none;
          }
          input::placeholder {
            opacity: 0.5;
            font-weight: 400;
          }
          input:focus {
            border-color: #3f51b5;
          }
          mat-icon {
            // font-size: 24px;
            font-size: 20px;

            vertical-align: middle;
            color: #d6d6d6;
            margin: 3px 0px 0 3px;
          }
        }
        .custom-input-field:has(> input:focus) {
          border-color: #3f51b5;
        }

        .select-box {
          // height: 40px;
          height: 36px;
        }

        ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined {
          // height: 40px;
          height: 31px;
          width: 170px;
          min-width: 140px;
        }

        ::ng-deep
          .filter-select-box
          .mat-mdc-text-field-wrapper.mdc-text-field--outlined {
          // height: 40px;
          height: 31px;
          width: 130px;
          min-width: 100px;
        }

        ::ng-deep
          .mat-mdc-text-field-wrapper.mdc-text-field--outlined
          .mat-mdc-form-field-infix {
          padding: 0;
          // padding-top: 10px;
          padding-top: 3px;
        }

        // mat-select CSS starts
      }
    }

    .body-section {
      .customer-table {
        padding: 15px;
        .table-body {
          border-left: 1px solid rgba(0, 0, 0, 0.12);
          border-right: 1px solid rgba(0, 0, 0, 0.12);
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
        table {
          width: 100%;
          text-align: left;
          font-size: 14px;
          border-collapse: collapse;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

          overflow: hidden;
          tr:nth-child(even) td {
            background-color: #f6fcff;
          }
          th,
          td {
            height: 40px;
            padding: 0 16px;
            background-color: #fff;
            border-bottom: 1px solid #ddd;
            font-size: 16px;
          }
          th {
            background-color: #3f51b5;
            color: #fff;
            // font-size: 16px !important;
            font-weight: 500;
          }
          td {
            height: 65px;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
          }

          tbody tr:hover td {
            background-color: #fff3e9 !important;
          }
          .name-column {
            // width: 60%;
            width: auto;
          }
          .status-column {
            text-align: center;
            // width: 11%;
            width: 14%;
            .status-icon {
              width: 25px;
              height: 25px;
              border: 1px solid #d6d6d6;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              font-size: 16px;
              font-weight: 500;
              margin: 0 auto;
            }

            .status-icon.active {
              background-color: #379237;
            }

            .status-icon.inactive {
              background-color: #f44336;
            }
          }
          .amount-column {
            text-align: right;
            // font-size: 18px;
            font-size: calc(0.9em + 0.5vmin);
            width: 20%;
            .amount-desc {
              // font-size: 14px;
              font-size: calc(0.7em + 0.5vmin);
            }
            .rupee-symbol {
              font-family: roboto;
            }
            .color-green {
              color: #379237;
            }
            .color-red {
              color: #f44336;
            }
          }
          .customer-name {
            // font-size: 18px;
            font-size: calc(0.9em + 0.5vmin);
          }
          .created-date {
            // font-size: 14px;
            // font-size: 11px;
            font-size: calc(0.7em + 0.5vmin);
            color: #525960;
          }
        }
        .height {
          height: calc(100vh - 235px);
          .table {
            border-left: 1px solid #d6d6d6;
            border-right: 1px solid #d6d6d6;
          }
        }
      }
    }
  }
  .details-section {
    width: 50%;
    .mat-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .single-btn.mat-mdc-button {
    width: 25px;
  }
}

::ng-deep .mat-mdc-option:focus:not(.mdc-list-item--disabled),
::ng-deep .mat-mdc-option.mat-mdc-option-active {
  background-color: #fff !important;
}

::ng-deep .mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  background-color: #fff3e9 !important;
}

::ng-deep
  .mat-primary
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text {
  font-weight: 500;
}

::ng-deep .mat-mdc-select-value {
  font-size: 14px !important;
}
::ng-deep .mat-mdc-option.mdc-list-item {
  font-size: 14px;
  min-height: 30px;
}
