.input-form-container {
    padding: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    label {
        margin-bottom: 20px;
    }
}


.w97p {
    width: 97% !important;
}


.mr10 {
    margin-right: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mr0 {
    margin-right: 0;
}

.nopadding {
    padding: 0;
}

mat-icon {
    cursor: pointer;
}

.align-center {
    display: flex;
    align-items: center;
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

mat-form-field.mat-form-field.mat-form-field-appearance-outline>div.mat-form-field-wrapper>div.mat-form-field-flex>div.mat-form-field-infix {
    padding: 0.4em 0px
}

mat-form-field.mat-form-field.mat-form-field-appearance-outline>div.mat-form-field-wrapper>div.mat-form-field-flex>div.mat-form-field-infix>span.mat-form-field-label-wrapper {
    top: -1.5em;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
}

.mat-mdc-snack-bar-container {
    &.success-snackbar {
        --mdc-snackbar-container-color: #2196f3;
        --mat-mdc-snack-bar-button-color: #fff --mdc-snackbar-supporting-text-color: #fff;
    }
}


::ng-deep .input-form-container .mat-mdc-text-field-wrapper {
    height: 40px !important;
}

::ng-deep .input-form-container .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding: 6px 0px;
}

::ng-deep .input-form-container .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
    font-size: 13px;
}

::ng-deep .input-form-container .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
    line-height: normal;
    pointer-events: all;
    position: relative;
    top: 17px;
}

// ::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface {
//     background-color: red;
// }

// ::ng-deep .mat-mdc-snack-bar-handset, .mat-mdc-snack-bar-container, .mat-mdc-snack-bar-label {
//     background-color: red;
// }

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface{
    background-color: #5cb85c !important;
}

::ng-deep .mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled),
::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__label{
    color: #fff !important;
    --mat-mdc-button-persistent-ripple-color: #fff !important
}