<div class="main-contianer">
    <mat-toolbar color="primary" class="space-between">
        <span>Add New Customer</span>
        <mat-icon mat-dialog-close class="mr0">close</mat-icon>
    </mat-toolbar>
    <form>
        <div class="input-form-container">
            <div class="input-fields">
                <label for="firstName">Name: </label>
                <mat-form-field appearance="outline" class="mr10">
                    <input matInput [formControl]="name" name="firstName" required autocomplete="off"
                        placeholder="Enter customer name">
                    <mat-error *ngIf="name.invalid">**{{getErrorMessage('name')}}</mat-error>
                </mat-form-field>
            </div>
            <div class="input-fields">
                <label for="locality">Locality: </label>
                <mat-form-field appearance="outline" class="mr10">
                    <input matInput name="locality" [formControl]="myControl" required placeholder="Enter locality"
                        [matAutocomplete]="auto">
                    <mat-error *ngIf="locality.invalid">**{{getErrorMessage('locality')}}</mat-error>
                </mat-form-field>
                <mat-autocomplete #auto="matAutocomplete">
                    <perfect-scrollbar>
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </perfect-scrollbar>
                </mat-autocomplete>

            </div>
            <div class="input-fields">
                <label for="phoneNo">Phone: </label>
                <mat-form-field class="w97p" appearance="outline">
                    <input matInput #input maxlength="10" name="phoneNo" autocomplete="off"
                        placeholder="Enter phone no." [formControl]="phone" placeholder="0000-000-000">
                    <mat-error *ngIf="phone.invalid">**{{getErrorMessage('phone')}}</mat-error>
                </mat-form-field>
            </div>


            <button mat-raised-button class="w97p" style="margin-top: 95px;" color="primary" (click)="addCustomer()"
                [mat-dialog-close]="true" [disabled]="!form.valid ">Add Customer</button>

        </div>
    </form>
</div>