<div class="main-contianer">
    <mat-toolbar color="primary" class="space-between">
        <span>Add New Customer</span>
        <mat-icon mat-dialog-close class="mr0">close</mat-icon>
    </mat-toolbar>
    <div class="d-flex justify-center mt20"><app-profile></app-profile></div>
    <form [formGroup]="addCustomerForm">
        <perfect-scrollbar>
        <div class="input-form-container">
            <div class="input-fields">
                <label for="firstName">Name: </label>
                <mat-form-field appearance="outline" class="mr10">
                    <input matInput name="firstName" formControlName="name" autocomplete="off"
                        placeholder="Enter customer name" >
                        <mat-error *ngIf="gf['name'].hasError('pattern') && gf['name'].value">
                            Name should not contain numbers or special characters.
                        </mat-error>
                        <mat-error *ngIf="gf['name'].hasError('minlength')">
                            Name should be greater than 1 character.
                        </mat-error>
                        <mat-error *ngIf="gf['name'].hasError('required')">
                            You must enter a value.
                        </mat-error>
                </mat-form-field>
            </div>
            <div class="input-fields">
                <label for="firstName">Aadhar Number: </label>
                <mat-form-field appearance="outline" class="mr10">
                    <input matInput name="aadharNumber" formControlName="aadharNumber" autocomplete="off"
                        placeholder="Enter aadhar number" minlength="12" maxlength="12">
                        <mat-error *ngIf="gf['aadharNumber'].hasError('minlength')">
                            Aadhar should b of 12 digits.
                        </mat-error>
                        <mat-error *ngIf="gf['aadharNumber'].hasError('required')">
                            You must enter a value.
                        </mat-error>
                </mat-form-field>
            </div>
            <div class="input-fields">
                <label for="locality">Locality: </label>
                <mat-form-field appearance="outline" class="mr10">
                    <input matInput name="locality"  formControlName="locality" placeholder="Enter locality"
                        [matAutocomplete]="auto">
                        <mat-error *ngIf="gf['locality'].hasError('pattern')">
                            Not a valid locality name
                        </mat-error>
                        <mat-error *ngIf="gf['locality'].touched && !gf['locality'].value">
                            You must enter a value
                        </mat-error>
                </mat-form-field>
                <mat-autocomplete #auto="matAutocomplete">
                    <perfect-scrollbar>
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </perfect-scrollbar>
                </mat-autocomplete>

            </div>
            <div class="input-fields">
                <label for="phoneNo">Phone: </label>
                <mat-form-field class="w97p" appearance="outline">
                    <input type="number" matInput #input name="phoneNo" autocomplete="off" placeholder="Enter phone no." formControlName="phone">
                    <mat-error *ngIf="gf['phone'].hasError('required')">
                        You must enter a value.
                    </mat-error>
                    <mat-error *ngIf="gf['phone'].hasError('min')">
                        Phone number should be at least 10 characters.
                    </mat-error>
                    <mat-error *ngIf="gf['phone'].hasError('max')">
                        Phone number should not exceed 10 characters.
                    </mat-error>
                </mat-form-field>
            </div>


            <button mat-raised-button class="w97p"  color="primary" (click)="addCustomer()"
                [mat-dialog-close]="true" [disabled]="addCustomerForm.invalid" >Add Customer</button>

        </div>
    </perfect-scrollbar>
    </form>
</div>