<div class="edit-customer-wrapper">
    <div class="header align-center pl20 pr20">
        <span class="close-sidenav" (click)="closeSideNav()">&lt;</span>
        <div class="header-text ml15">Edit Customer Details</div>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="editForm">
        <div class="container p20">
            <div class="custom party-name">
                <label for="name">Customer Name</label>
                <div class="custom-input-field " >
                    <input type="text"  name="name" [formControl]="customerName" placeholder="Enter Name" [(ngModel)]="customerDetailsCopy.name">
                </div>
                <span class="invalid" *ngIf="customerName.invalid">**Please provide customer name</span>
                
            </div>
            <div class="custom phone-no">
                <label for="phone">Phone No</label>
                <div class="custom-input-field">
                    <input  type="number" name="phone" [formControl]="phoneNo"  placeholder="Enter Phone No" [(ngModel)]="customerDetailsCopy.phone">
                </div>
                <span class="invalid" *ngIf="phoneNo.invalid">**Please provide Phone Number</span>
            </div>

            <div class="custom locality">
                <label for="">Locality</label>
                <input style="display: none;" type="text" formControlName="locality" value="selectedOption?.displayName">
                <app-auto-complete class="custom-input-field autocomplete" [options]="options"
                    (selectedOptions)="onSelectedOption($event)" [placeholder]="'Locality Name'" ></app-auto-complete>
                    <span [ngClass]="selectedOption ==undefined?'invalid':''" *ngIf="selectedOption==undefined">**Please provide Locality Name</span>
            </div>
        </div>
        <div class="party-btn pl20 pr20">
            <button mat-raised-button color="primary" [disabled]="selectedOption && !editForm.invalid" (click)="updateCustomer()">Update</button>
            <button mat-raised-button class="success reset">Reset</button>
        </div>

    </form>
</div>