<div class="customer-vehicle-wrapper">
    <mat-toolbar class="header" color="primary">
        <span>Added Vehicles</span>
        <mat-icon mat-dialog-close class="mr0">close</mat-icon>
    </mat-toolbar>
    <div class="customer-table simple-table user-vehicle-table">
        <div class="main-table">
            <table class="table-header">
                <thead class="border-left">
                    <tr>
                        <th class="w20p text-left">Vehicle No</th>
                        <th class="w30p text-left">Assigned Date</th>
                        <th class="w10p text-center">Status</th>
                        <th class="w10p text-right">Rate</th>
                        <th class="w20p text-center">Options</th>
                    </tr>
                </thead>
            </table>
            <perfect-scrollbar (suppressScrollX)="true" class="table-body">
                <table *ngIf="!showLoader">
                    <tbody>
                        <tr *ngFor="let vehicle of customerVehicles">
                            <td class="w20p text-left">{{vehicle.vehicleNumber}}</td>
                            <td class="w30p text-left"> {{vehicle.createdDate}} </td>
                            <td class="w10p text-center">
                                <div class="status-icon" [ngClass]="vehicle.isActive ? 'active':'inactive'" [autoPlacement]="true"
                                    [tooltip]="vehicle.isActive?'Running':'Stopped'" [theme]="'light'" placement="top">
                                    <span>{{vehicle.isActive?'R':'S'}}</span>
                                </div>
                            </td>
                            <td class="w10p text-right"> {{vehicle.rate}} </td>
                            <td class="w20p text-center"><mat-icon *ngIf="vehicle.isActive" [tooltip]="'Stop Vehicle'" color="warn"
                                    (click)="onStatusClicked(vehicle,vehicle.transactionId)">block</mat-icon>
                                    <span *ngIf="!vehicle.isActive" [tooltip]="'Stopped'">Stopped</span>
                                </td>
                        </tr>
                    </tbody>
                </table>
                <ngx-skeleton-loader *ngIf="showLoader" count="8" appearance="line" [theme]="{ 
                    'height': '35px',
                    'width':'100%',
                    'margin':'0'
                  }"></ngx-skeleton-loader>

            </perfect-scrollbar>
        </div>
    </div>
</div>