:host {
  ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined {
    height: 31px;
    width: 140px;
  }
}

::ng-deep .filter-select-box .mat-mdc-text-field-wrapper.mdc-text-field--outlined {
  height: 31px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  height: 0;
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding: 0;
  padding-top: 3px;
}

:host {
  ::ng-deep .mat-mdc-form-field {
    width: 100%;
    margin: 8px 0;
  }
}

::ng-deep .select-box.filter-select-box .mat-mdc-text-field-wrapper.mdc-text-field--outlined {
  height: 31px;
  // width: 100%;
}


@media (min-width: 1024px) {
  ::ng-deep .filter-select-box .mat-mdc-text-field-wrapper.mdc-text-field--outlined {
    height: 31px;
  }
}