<!-- header-section  -->

<div class="wrapper">
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav position="end" mode="over" [(opened)]="opened">
                <div class="header align-center pl20 pr20">
                    <span class="close-sidenav" (click)="closeSideNav()">&lt;</span>
                    <h3 class="ml15">Edit Customer Details</h3>
                </div>
                <mat-divider></mat-divider>
                <form >
                <div class="container p20">
                    <div class="custom party-name">
                        <label for="">Customer Name</label>
                        <div class="custom-input-field">
                            <input type="number" name="name" placeholder="Enter Name" [(ngModel)]="party_name">
                        </div>
                    </div>
                    <div class="custom phone-no">
                        <label for="">Phone No</label>
                        <div class="custom-input-field">
                            <input type="number" name="phone" placeholder="Enter Phone No" [(ngModel)]="party_ph_no">
                        </div>
                    </div>

                    <div class="custom locality">
                        <label for="">Locality</label>
                        <app-auto-complete class="custom-input-field autocomplete" [options]="options"
                            (selectedOptions)="onSelectedOption($event)"></app-auto-complete>
                    </div>
                </div>
                <div class="party-btn pl20 pr20">
                    <button mat-raised-button color="primary">Update</button>
                    <button mat-raised-button class="success reset">Reset</button>
                </div></form>
            </mat-sidenav>



        <mat-sidenav-content>
            <div class="customer-details-section">
                <div class="header">
                    <div class="left-container">
                        <div class="customer-name">
                            <div class="customer-name-icon">{{customerDetails[0].name[0]}}</div>
                            <div class="customer-details">
                                <div class="customer-name">{{customerDetails[0].name}}</div>
                                <div class="customer-phone-number">{{customerDetails[0].phone}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="right-container">
                        <div class="download-report">
                            <button class="report-btn" mat-stroked-button color="primary">
                                <span>Report</span><mat-icon>summarize</mat-icon>
                            </button>
                        </div>
                        <div class="more-button">
                            <button mat-icon-button [matMenuTriggerFor]="customerMenu" color="primary"
                                aria-label="Example icon button with a home icon">
                                <mat-icon>more_vert</mat-icon>

                            </button>
                            <mat-menu #customerMenu="matMenu">
                                <button mat-menu-item (click)="sidenav.toggle()">Edit<mat-icon
                                        class="icon-16">edit</mat-icon> </button>
                                <button mat-menu-item>Delete<mat-icon class="icon-16">delete</mat-icon> </button>
                            </mat-menu>
                            <mat-icon color="primary" (click)="closeSection()" class="mr0">close</mat-icon>
                        </div>

                    </div>
                </div>
                <mat-divider></mat-divider>
                <!-- Net Balance Section  -->
                <div class="sub-header">
                    <div class="net-balance">
                        <div class="header">NET BALANCE:</div>
                        <div class="amount-section"
                            ngClass="{customerDetails.netAmount > 0 ?'amount-gave':'amount-got}">
                            {{customerDetails.netAmount > 0 ?"You'll Get:" : "You'll Give:"}}
                            <span class="symbol"> ₹ </span><span class="amount">{{customerDetails.netAmount}}</span>
                        </div>
                    </div>
                    <div class="align-center">
                        <!-- <button mat-icon-button color="primary" class="mr10"
                            aria-label="Example icon button with a heart icon">
                            <mat-icon>agriculture</mat-icon>
                        </button> -->
                        <button color="primary" class="mr10" mat-icon-button
                            [matMenuTriggerFor]="beforeMenu"><mat-icon>agriculture</mat-icon></button>
                        <mat-menu #beforeMenu="matMenu" xPosition="before">
                            <button mat-menu-item>Item 1</button>
                            <button mat-menu-item>Item 2</button>
                        </mat-menu>
                        <button class="btn-primary">Add Vehicle</button>
                    </div>
                </div>
                <mat-divider></mat-divider>

                <div class="customer-table simple-table transaction-table">
                    <div class="main-table">
                        <table class="table-header">
                            <thead class="border-left">
                                <tr>
                                    <th class="text-left">Entries</th>
                                    <th class="text-center w16p">You Gave</th>
                                    <th class="text-center w16p">You Got</th>
                                </tr>
                            </thead>
                        </table>
                        <perfect-scrollbar class="table-body">
                            <table>
                                <tbody>
                                    <tr *ngFor="let item of customerDetail['transaction']">
                                        <td>
                                            <div class="transaction-metadata">
                                                <div class="date-time">
                                                    <span class="date">{{item.date | dateToDays}}</span> • <span
                                                        class="time">{{item.time}}</span>
                                                </div>
                                                <div class="amount">Balance: <span
                                                        class="balance">{{item.balance}}</span></div>
                                            </div>
                                            <div class="transaction-details">
                                                {{item.comment}}
                                            </div>
                                        </td>
                                        <td class="w16p amount-gave"> {{item.amount<0? myMath.abs(item.amount)
                                                :'-'}}</td>
                                        <td class="w16p amount-got"> {{item.amount>0? item.amount :'-'}} </td>
                                    </tr>
                                </tbody>
                            </table>

                        </perfect-scrollbar>
                    </div>

                </div>

                <mat-divider></mat-divider>
                <div class="initiate-transaction-section">
                    <button mat-raised-button color="warn" (click)="initiateTransaction('gave')">You Gave</button>
                    <button mat-raised-button class="success" (click)="initiateTransaction('got')">You Got</button>
                </div>
            </div>

        </mat-sidenav-content>
    </mat-sidenav-container>


</div>

<!-- <ng-template #HtmlContent>
    <p>Hello i'm a <strong>bold</strong> text!</p>
  </ng-template> -->