.wrapper {
  .close-sidenav{
    font-size: 25px;
    font-weight: var(--fnt-bold);
    color: var(--stroked-color);
    cursor: pointer;
  }
  .close-sidenav:hover{
    color: var(--fnt-secondary-color);
    
  }
form{
  height: calc(100% - 67px);
  .container {
    font-size: var(--fnt-medium);
    color: #000;
    height: calc(100% - 85px);
    .custom{
      margin-bottom: 25px;
    }
  }
}
  .party-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  

    button {
      width: 48%;
      color: #fff;
    }

    .reset {
      background-color: var(--btn-secondary);
      color: #000000;
    }

    ::ng-deep .success {
      background: var(--success-color);
      color: #fff;
    }
  }
}
.customer-details-section {
  position: relative;

  .success ::ng-deep .mat-mdc-raised-button:not(:disabled) {
    background-color: var(--success-color) !important;
  }

  .header {
    background: #f5f5f5;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;

    .left-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .customer-name {
        display: flex;
        align-items: center;

        .customer-name-icon {
          font-size: var(--fnt-large);
          font-weight: var(--fnt-bold);
          border-radius: 30px;
          width: 35px;
          height: 35px;
          background-color: #efc5d6;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ff315a;
        }

        .customer-details {
          margin: 0 10px;

          .customer-name {
            font-size: var(--fnt-regular);
            font-weight: var(--fnt-bold);
          }

          .customer-phone-number {
            color: var(--fnt-secondary-color);
            font-size: 11px;
            font-weight: var(--fnt-semibold);
            letter-spacing: 0.5px;
          }
        }
      }
    }

    .right-container {
      display: flex;
      align-items: center;

      .download-report {
        margin: 0 10px;
      }
    }
  }

  .sub-header {
    display: flex;
    align-items: center;
    padding: 0 16px;
    justify-content: space-between;
    height: 45px;

    .net-balance {
      font-weight: var(--fnt-bold);
      padding: 8px 0;
      font-size: var(--fnt-regular);
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .header {
        padding: 0 !important;
        color: var(--fnt-secondary-color);
      }

      .amount-section {
        margin-left: 10px;

        .symbol {
          font-family: Roboto;
          color: var(--success-color);
        }

        .amount {
          color: var(--success-color);
        }
      }
    }
  }

  .transaction-table {
    padding: 0 16px;
    padding-top: 15px;

    .transaction-metadata {
      margin-bottom: 5px;
    }

    .transaction-details {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: var(--fnt-secondary-color);
      font-size: var(--fnt-small);
    }

    .transaction-metadata {
      .date-time {
        font-weight: var(--fnt-semibold);
        font-size: var(--fnt-small);
      }

      .amount {
        color: var(--fnt-secondary-color);
        font-size: var(--fnt-small);
      }
    }

    .amount-gave {
      text-align: center;
      font-weight: var(--fnt-semibold);
      color: #f44336;
      font-size: var(--fnt-regular);
    }

    .amount-got {
      text-align: center;
      font-weight: var(--fnt-semibold);
      color: var(--success-color);
      font-size: var(--fnt-regular);
    }
  }

  .table-body {
    height: calc(100vh - 220px);
    position: relative;
  }

  .initiate-transaction-section {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      width: 48%;
    }

    ::ng-deep .success {
      background: var(--success-color);
      color: #fff;
    }
  }
}

// INPUT FIELD

:host {
  .custom-input-field {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: start;
    border-radius: 5px;
    padding: 4px 8px;
    border: 1px solid rgba($color: #000000, $alpha: 0.38);
    background-color: #fff;
    height: 22px;
    margin: 8px 0;

    input {
      border: 0;
      outline: 0;
      font-size: var(--fnt-regular);
      padding-left: 6px;
      width: 100%;
    }

    input::placeholder {
      opacity: 0.5;
      font-weight: var(--fnt);
    }

    input:focus {
      border-color: #3f51b5;
    }
  }
  .custom-input-field.autocomplete{
    padding: 4px 0;
  }
  // .custom-input-field.locality{
  //   height: auto !important;
    
  // }
//   ::ng-deep .mat-mdc-form-field{
//     width: 100%;margin: 0 !important;
//   }
//   ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined {
//     width:100%;
//   }

}
// ::ng-deep .cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) .mdc-menu-surface.mat-mdc-autocomplete-panel{
//   max-height: 100%;
  
// }

// .custom-input-field:has(> input:focus) {
//   border-color: #3f51b5;
// }
:host {
  ::ng-deep .mat-drawer.mat-drawer-end {
    width: 60%;
  }
}

::ng-deep .cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) .mdc-menu-surface.mat-mdc-autocomplete-panel.height-of-auocomplete {
  max-height: 100%;
}
