<div class="vehicle-wrapper">
    <mat-toolbar class="header-section">
        <span class="header-text">Vehicle Dasboard</span>
        <button (click)="addVehicle()" class="btn-primary">Add Vehicle</button>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <div class="sub-header p15">
        <div class="vehicle-name mr10">
            <label>Vehicle Name</label>
            <app-input [placeholder]="'Search'"></app-input>
        </div>
        <div class="period">
            <label >Filter By</label>
            <app-dropdown-component [optionList]="statusList"></app-dropdown-component>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="p15">
        <div class="vehicle-cards">
            <ng-container *ngFor="let item of cardsDetails">
            <div class="card pt10 pb10 p15" [ngClass]="item.isActive ? 'active-border' : 'stopped-border'" (click)="onVehicleClicked(item)">
                    <div class="label">
                        <div>Name:</div>
                        <div>Locality:</div>
                        <div>Vehicle Name:</div>
                        <div>Vehicle Number:</div>
                        <div>Vehicle Owner</div>
                        <div>Status</div>
                    </div>
                    <div class="details marginauto pl15 ">

                        <div>{{item.name? item.name :'---'}}</div>
                        <div>{{item.locality? item.locality :'---'}}</div>
                        <div>{{item.vehicleModel? item.vehicleModel :'---'}}</div>
                        <div>{{item.vehicleNumber? item.vehicleNumber :'---'}}</div>
                        <div>{{item.vehicleOwner? item.vehicleOwner :'---'}}</div>
                        <div [ngClass]="item.isActive ? 'active' : 'stopped'" >{{item.isActive ? 'Active' : 'Stopped'}}</div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>