@font-face {
    font-family: 'poppins';
    src: url('../../assets/fonts/Poppins/Poppins-Regular.ttf');
}

*{
    font-family: poppins;
}

  //common class

  //width
  .w20p {
    width: 20%;
  }

  .text-right{
    text-align: right;
  }

  .text-center{
    text-align: center;
  }

  .text-left{
    text-align: left;
  }

  //margin padding

  .mr5 {
    margin-right: 5px;
  }

  .mr10 {
    margin-right: 10px;
  }

  //alignment

  .align-center {
    display: flex;
    align-items: center;
  }

